# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock

# OS specific
.DS_Store
Thumbs.db

# IDE / Editor folders
.vscode/
.idea/

# Coverage / Test output
coverage/
*.lcov

# Build artifacts
dist/
build/
